In [1]:
import pandas as pd
import numpy as np

In [2]:
x = np.array(["1","2","3","4"])
x

array(['1', '2', '3', '4'], dtype='<U1')

In [3]:
type(x)

numpy.ndarray

## Series

In [4]:
ser = pd.Series(x)
ser
# default label is start from 0

0    1
1    2
2    3
3    4
dtype: object

In [5]:
series = pd.Series(x,index=[1,3,2,4],name="Numbers")

## Creating Series using dict

In [6]:
squares = {1:1,2:4,3:9,4:16,5:25}

In [7]:
pd.Series(squares)

1     1
2     4
3     9
4    16
5    25
dtype: int64

In [8]:
# if a index is not there then it will give NaN(Not a number)
pd.Series(squares,index=[1,2,3,4,6])

1     1.0
2     4.0
3     9.0
4    16.0
6     NaN
dtype: float64

In [9]:
squares.update({10:100})
# or
squares[10] = 100

In [10]:
pd.Series(squares)

1       1
2       4
3       9
4      16
5      25
10    100
dtype: int64

# Scalar

In [11]:
pd.Series(3,index=[0,1,2,3,4,5])

0    3
1    3
2    3
3    3
4    3
5    3
dtype: int64

## Retrieving Data

In [12]:
series

1    1
3    2
2    3
4    4
Name: Numbers, dtype: object

In [13]:
series[1]

'1'

## Creating Pandas DataFrame from series

In [14]:
s = pd.Series(squares)

In [15]:
s

1       1
2       4
3       9
4      16
5      25
10    100
dtype: int64

In [16]:
pd.DataFrame(s,columns=["x**2"])

    x**2
1      1
2      4
3      9
4     16
5     25
10   100

## Create DataFrame Using List

In [17]:
li = ["a","b","c","d"]

In [18]:
pd.DataFrame(li)

   0
0  a
1  b
2  c
3  d

## List of Lists

In [27]:
details = [["Pavan","Btech","18"],["Manikanta","Btech","19"],["Karthik","Btech","18"],["Akhil","Btech","18"]]

In [29]:
pd.DataFrame(details,columns=["Name","Class","Age"],index=[1,2,3,4])

        Name  Class Age
1      Pavan  Btech  18
2  Manikanta  Btech  19
3    Karthik  Btech  18
4      Akhil  Btech  18

## Using Dictionary

In [37]:
detailsList = {"Name":["Pavan","Manikanta","Karthik","Akhil"], "Age":[18,19,18,19],"Class":["Btech"]}

In [39]:
detailsList

{'Name': ['Pavan', 'Manikanta', 'Karthik', 'Akhil'],
 'Age': [18, 19, 18, 19],
 'Class': ['Btech']}

In [38]:
pd.DataFrame(detailsList,index=[1,2,3,4])

        Name  Age  Class
1      Pavan   18  Btech
2  Manikanta   19  Btech
3    Karthik   18  Btech
4      Akhil   19  Btech

## Creating DataFrame From Numpy Arrays

In [41]:
na = np.array([10,20,30,50,60])
na

array([10, 20, 30, 50, 60])

In [45]:
pd.DataFrame(na,columns=["Random"],index=[1,2,3,4,5])

   Random
1      10
2      20
3      30
4      50
5      60

### pd.read_csv() -